version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: saasuser
      POSTGRES_PASSWORD: saaspassword
      POSTGRES_DB: saas_platform
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  mongo:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: saasuser
      MONGO_INITDB_ROOT_PASSWORD: saaspassword
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  postgres-data:
  mongo-data: